django
#Pillow==8.4.0
gunicorn==20.0.4
psycopg2-binary==2.9.10
# redis
braintree==4.12.0
django-appconf
django-appdata
django-braces
django-currentuser
django-dbbackup
django-debug-toolbar
django-filer
django-formtools
django-js-asset
django-mathfilters
django-mptt
django-parler
django-phonenumber-field
django-polymorphic
django-recaptcha
django-reversion
django-sekizai
django-sortedm2m
django-storages
django-taggit
django-treebeard
#
python-dateutil
openpyxl
#====
yfinance
wbdata
#====
pandas
numpy
#====
scipy
scikit-learn
tensorflow
tensorflow-probability
tf-keras
tensortrade
stable_baselines3
torch
tyro
wandb
#
gymnasium
pygame
tqdm
#
ultralytics
opencv-python
roboflow
supervision
#